body {
  width: 90%;
  margin: auto;
}

.dashedBorder {
  border-width: 2px;
  border-style: dashed;
  padding: 1em;
  margin: 1em;
}

.headerImg {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.oneRowImg {
  max-width: 300px;
  max-height: 300px;
}

.mediumSizeImg {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blackBorder {
  border-width: 1px;
  border-style: solid;
  padding: 1em;
}

.twoColumnsImg {
  max-height: 300px;
  float: left;
  width: 50%;
}

/* To create 2-columns*/
.twoColumns {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.twoColumnsRow:after {
  content: "";
  display: table;
  clear: both;
}

/* To create 2-column table for plots with fixed width */
.grid-container {
  display: grid;
  grid-template-columns: 700px 700px;
  text-align: center;
}

/* To create 2-column table for plots */
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}